{% extends "shop/layout_b.html" %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container">
	<h3 class="text-center">Checkout</h3>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<form action="." method="post" class="order-form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
	                <button type="submit" class="btn btn-primary">
	                    {% bootstrap_icon "ok" %} Place Order
	                </button>
	            {% endbuttons %}
			</form>
		</div>
		<div class="col-xs-12 col-sm-6 order-info">
			<ul style="padding-left: 0px;">
				<h3>Your order</h3>
			{% for item in cart %}
				<li class="list-unstyled">
				{{ item.quantity }}x {{ item.product.name|truncatechars:27 }}
				<span>KES {{ item.total_price }}</span>
				</li>
			{% endfor %}
			</ul>
			<p>Total: KES {{ cart.get_total_price }}</p>
		</div>
	</div>
</div>

{% endblock %}