{% extends "shop/layout_b.html" %}
{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <p><span class="glyphicon glyphicon-time"></span> Uploaded on {{ product.created }}</p>
        
        <hr>
        <img class="img-responsive" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="{{ product.name }}">

        <hr>
        <div class="product-detail">
            <h4 class="lead">{{ product.name }}</h4>
            <p class="price">KES {{ product.price }}</p>
            <form action="{% url "cart:cart_add" product.id %}" class="form-inline" method="post">
                <div class="input-group form-control">
                    Quantity : 
                    {% csrf_token %}
                    {% bootstrap_form cart_product_form layout="inline" size='sm'  %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "ok" %} Add to cart
                        </button>
                    {% endbuttons %}
                </div>
            </form>
        </div>

        <hr>
        <p>{{ product.description|linebreaks }}</p>

        <hr>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h4 class="" style="margin-top: -10px;">Category</h4>
            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
        </div>
    </div>
</div>      

{% endblock %}